markdown:
  ### Pullman Hotel, New York hall

  ![10 Montreal Square, Bucharest](https://maps.googleapis.com/maps/api/staticmap?center=Piata%20Montreal%2010,Bucharest&zoom=16&size=300x300&sensor=false)

  [10 Montreal Square, Bucharest](https://www.google.ro/maps?q=Pia%C5%A3a+Montreal,+Bucure%C8%99ti,+Bucure%C5%9Fti)

  ### Partners

  ![US DoS]({% asset_path partners/usdos-0.png %})
  ![US DoS]({% asset_path partners/usdos-1.png %})

  ---

  ![Unicredit Țiriac Bank]({% asset_path partners/unicredit.png %})

  ---

  ![Stiftung]({% asset_path partners/stiftung.png %})
  ![Orange]({% asset_path partners/orange.png %})
  ![BMW Group]({% asset_path partners/bmw.png %})
