markdown:
  - [Currency](#currency) 
  - [Getting in: Bucharest International Airport](#getting-in-bucharest-international-airport)
  - [Accommodation](#accommodation)
  - [Lunch](#lunch)
  - [Local Transport](#local-transport)
  - [Bucharest City: What to visit](#bucharest-city-what-to-visit)
  - [Safety](#safety)
