markdown:
  - [Currency](#currency) 
  - [Getting in](#Getting-in)
  - [Accommodation](#accommodation)
  - [Lunch](#lunch)
  - [Local Transport](#local-transport)
  - [What to visit](#Bucharest-city)
  - [Safety](#safety)
