markdown:
  - [When? Where?](#when-where)
  - [Who is responsible?](#who-is-responsible)
  - [Who is speaking?](#who-is-speaking)
  - [What language will the conference be in?](#what-language-will-the-conference-be-in)
  - [How much does it cost? How do I register?](#how-much-does-it-cost-how-do-i-register)
  - [Tell me more about the breakout sessions](#tell-me-more-about-the-breakout-sessions)
  - [What is narrative journalism?](#what-is-narrative-journalism)
  - [I have a question not answered here. How do I reach you?](#i-have-a-question-not-answered-here-how-do-i-reach-you)
