a href='{{ site.base_url }}speakers.html' class='meet-our-speakers'
  | Meet our speakers

markdown:
  ##### Pullman Hotel, New York hall

  ![10 Montreal Square, Bucharest](https://maps.googleapis.com/maps/api/staticmap?center=Piata%20Montreal%2010,Bucharest&zoom=16&size=300x300&sensor=false)

  [10 Montreal Square, Bucharest](https://www.google.ro/maps?q=Pia%C5%A3a+Montreal,+Bucure%C8%99ti,+Bucure%C5%9Fti)

  ##### Sponsors

  ![Sponsors](https://dl.dropboxusercontent.com/u/134995/PoS13/side-sponsor.png)
 

  ##### Supporters

  ![Supporters](https://dl.dropboxusercontent.com/u/134995/PoS13/side-suppport.png)