nav {
  z-index: 1;
  position: fixed;
  background: rgba($white, 0.95);
  width: 100%;
  border-bottom: 1px solid $cyan_lighted;

  ul {
    width: 800px;
    margin: 0 auto;
    padding-left: 0;

    li {
      display: inline;
      float: left;
      margin-left: $gutter * 2;
      margin-bottom: 3px;

      a {
        display: block;
        color: $green_dark;
        font-weight: bold;
        line-height: $gutter * 3;
        text-decoration: none;
      }

      &:hover, .index &.index, .about &.about, .speakers &.speakers,
      .schedule &.schedule, .international &.international,
      .partners &.partners {
        margin-bottom: -3px;

        a {
          color: $cyan_dark;
          text-decoration: none;
          border-bottom: 3px solid $cyan_dark;
        }
      }
    }
  }
}
