header, #content, footer {
  @include row();
}

body {
  .light {
    background: url(asset_path('bg-cyan.png')) no-repeat 100% -120px;
    background-attachment: fixed;
  }

  .highlight {
    background: $cyan_dark url(asset_path('bg-green.png')) no-repeat top right;
  }

  .lighted {
    background: $cyan_light;
  }
}

header {
  padding-top: 110px;
  padding-bottom: $gutter * 2;

  .page-branding {
    @include span-columns(12);
    background: url(asset_path('top.png')) no-repeat top left;
    padding-top: 250px;
  }

  .branding {
    @include span-columns(8);
    background: url(asset_path('brand-large.png')) no-repeat top left;
    padding-top: 320px;

    .when {
      @include span-columns(7);

      padding-top: $gutter;

      h3 {
        color: $green_dark;
        margin-bottom: 0;
        margin-top: 0;
      }
    }

    .by {
      @include span-columns(3);
      @include omega();

      padding-top: $gutter;
      text-align: left;
    }
  }

  .intro {
    @include span-columns(4);
    @include omega();
    @include pad($gutter * 4 0 0);

    font-size: em(16);
    color: $green_dark;
  }
  	.hosted-by {
      padding-top: $gutter * 3;
    }
}

#content {
  color: $white;
  text-align: center;

  .speakers {
    @include span-columns(12);
    @include pad($gutter 0 $gutter * 3);

    h2 {
      font-weight: 200;
      font-size: em(40);
    }

    .jacqui, .chris, .tom, .mona {
      @include span-columns(3);

      h3 {
        font-size: em(24);
        margin-bottom: 0;
      }

      img {
        border-radius: 1000px;
      }

      p {
        margin-top: 0;
        color: $cyan_light;
        line-height: em(20);
      }
    }
  }
}

#page-content {
  .container {
    @include span-columns(7);
    padding-left: $gutter * 2.5;
    margin-top: $gutter * 2;

    h2 {
      font-weight: 200;
      color: $cyan_dark;
      line-height: $gutter * 2;
    }

    h3 {
      font-weight: bold;
      color: $green_dark;
      margin-bottom: 0;
      line-height: $gutter * 1.5;
      font-size: em(20);
    }

    p {
      margin-top: 0;
    }
    
    .speakers & {

      h2 {
        font-weight: 200;
      }

      h3 {
        margin-top: $gutter * 3;

        &:first-child {
          margin-top: 0;
        }
      }

      img {
        float: right;
        border-radius: 1000px;
        margin-top: -$gutter * 2;
        margin-left: $gutter;
        width: 200px;
      }

      blockquote {
        margin: 0;
        margin-bottom: $gutter;
        border-bottom: 1px dashed $cyan_lighted;
      }
    }

    .schedule & {

      h3 {
        font-size: em(14);
        width: $gutter * 4;
        text-align: right;
        padding-bottom: $gutter;
        border-top: 3px solid $cyan_lighted;
        color: $cyan_lighted;
        font-weight: 200;
       
        &:first-child {
          margin-top: 0;
        }
      }
      
      .desc {
        margin: -28px 0 0 140px;
      }
      
      blockquote {
        margin: 0;
        margin-bottom: $gutter;

      }
	}
  }



  .sidebar {
    @include span-columns(5);
    padding-left: $gutter * 2.5;
    padding-right: $gutter * 2;
    margin-top: $gutter * 2;

    h5 {
      font-weight: bold;
      color: $cyan_dark;
      margin-bottom: 0;
    }

    hr {
      border-top: 1px solid $cyan_lighted;
      border-bottom: 0;
    }

    .meet-our-speakers {
      @include buton();
      @include omega();

      width: 100%;
      display: block;
      margin-top: $gutter;
      text-align: center;
      text-decoration: none;

      .speakers & {
        display: none;
      }
    }

    ul {
      margin: 0;
      padding-left: 0;

      li {
        list-style: none;
        border-bottom: 1px dashed $cyan_light;
        padding: $gutter / 2 0;

        &:first-child {
          padding-top: 0;
        }

        a {
          text-decoration: none;

          &:hover {
            color: $green_dark;
          }
        }
      }
    }
  }
}

#page-title {
  .container {
    @include span-columns(12);

    padding: 0 $gutter * 2.5;

    h2 {
      font-weight: 200;
      color: $cyan_dark;
      margin: 0;
      padding: 0;
      line-height: $gutter * 3 + 4;
    }
  }
}

#pre-footer {
  .newsletter {
    @include span-columns(12);

    text-align: center;
    padding-bottom: 2 * $gutter;

    h2 {
      font-weight: 200;
      color: $cyan_dark;
      margin-bottom: 0;
    }

    h3 {
      margin-top: 0;
      font-weight: bold;
      color: $white;
    }

    form {
      @include span-columns(6);
      @include shift(3);

      text-align: center;

      input {
        &.email {
          @include span-columns(8, table);
          @include pad($gutter $gutter/2);

          border: 1px solid $cyan_dark;
          font-size: em(16);
        }
      }

      .send {
        @include span-columns(3, table);
        @include buton();
        @include omega();

        font-size: em(16);
      }
    }
  }
}

#partnerships {
  .partners {
    @include span-columns(12);

    text-align: center;

    h2 {
      font-weight: 200;
      color: $cyan_dark;
    }

    .primary {
      @include span-columns(12);
	}

    .secondary {
      @include span-columns(12);
    }
  }
}

section#notes {
  .contact {
    @include span-columns(12);

    text-align: center;

    p {
      margin-top: 0;
    }

    p:first-child {
      margin-bottom: 0;
    }
  }

}

footer {
  p {
    text-align: center;
  }
}
