| {% slim head.slim %}

body class='{{ page.name }}'
  #container.with-offscreen data-toggle='offscreen' data-base='true'
    .offscreen-canvas data-offscreen-control='pane'

      | {% slim header.slim %}

      .l-wrap.l-app

        .l-sidebar
          |
            {% if page.sidebar == 'about' %}
              {% slim sidebar-about.slim %}
            {% endif %}

            {% if page.sidebar == 'schedule' %}
              {% slim sidebar-schedule.slim %}
            {% endif %}

            {% if page.sidebar == 'speakers' %}
              {% slim sidebar-speakers.slim %}
            {% endif %}

            {% if page.sidebar == 'international' %}
              {% slim sidebar-international.slim %}
            {% endif %}

            {% if page.sidebar == 'registration' %}
              {% slim sidebar-registration.slim %}
            {% endif %}

            {% if page.sidebar == 'blog' %}
              {% slim sidebar-blog.slim %}
            {% endif %}

        .l-main

          .l-content
            .copy
              h1
                | {{ page.title }}

              | {{ content }}

          .l-sidebar-sec
            |
              {% slim sidebar.slim %}

      | {% slim notes.slim %}

      | {% slim footer.slim %}
